<p>{{ nombre }}</p>
{{ (lista | async) | json }}

<table>

    <tr>
        <th>ORIGEN</th>
        <th>DESTINO</th>
        <th>STATUS</th>
        <th>ACCION</th>
    </tr>

    <tr *ngFor="let item of lista | async" >
        <th>{{ item.source }}</th>
        <th>{{ item.dest }}</th>
        <th>{{ item.status }}</th> 
        <th>
            <button (click)="modify(item.status)">RESERVAR</button>
            <button (click)="modify(item.status)">COMPRAR</button>
        </th>
    </tr>

</table>
